[Unit]
Description=Mles WebProxy Service

[Service]
Environment=RUST_LOG=info
WorkingDirectory = /home/ubuntu/www/mles-webproxy
ExecStart = /home/ubuntu/www/mles-webproxy/mles-webproxy-manage.sh start
ExecStop = /home/ubuntu/www/mles-webproxy/mles-webproxy-manage.sh stop
Restart=always
CPUQuota=0.3%
CPUQuotaPeriodSec=1000ms
#StandardOutput=null

[Install]
WantedBy=multi-user.target
Alias=mles-webproxy.service
